<label for="txQualinetfeuserVereinsnummer">
	<f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_vereinsnummer" />
</label><br />
	<f:form.textfield property="txQualinetfeuserVereinsnummer" /><br />
<label for="txQualinetfeuserUebungsleiterid">
	<f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_uebungsleiterid" />
</label><br />
	<f:form.textfield property="txQualinetfeuserUebungsleiterid" /><br />
<label for="txQualinetfeuserKontonr">
	<f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_kontonr" />
</label><br />
	<f:form.textfield property="txQualinetfeuserKontonr" /><br />
<label for="txQualinetfeuserBlz">
	<f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_blz" />
</label><br />
	<f:form.textfield property="txQualinetfeuserBlz" /><br />
<label for="txQualinetfeuserBankname">
	<f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_bankname" />
</label><br />
	<f:form.textfield property="txQualinetfeuserBankname" /><br />
<label for="txQualinetfeuserMailsvondritten">
	<f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_mailsvondritten" />
</label><br />
	<f:form.checkbox property="txQualinetfeuserMailsvondritten" value="1" /><br />
<label for="txQualinetfeuserBankeinzug">
	<f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_bankeinzug" />
</label><br />
	<f:form.checkbox property="txQualinetfeuserBankeinzug" value="1" /><br />
<label for="txQualinetfeuserStrasse">
	<f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_strasse" />
</label><br />
	<f:form.textfield property="txQualinetfeuserStrasse" /><br />
<label for="txQualinetfeuserZusatz">
	<f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_zusatz" />
</label><br />
	<f:form.textfield property="txQualinetfeuserZusatz" /><br />
<label for="txQualinetfeuserStrassearbeit">
	<f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_strassearbeit" />
</label><br />
	<f:form.textfield property="txQualinetfeuserStrassearbeit" /><br />
<label for="txQualinetfeuserGesperrt">
	<f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_gesperrt" />
</label><br />
	<f:form.checkbox property="txQualinetfeuserGesperrt" value="1" /><br />
<label for="txQualinetfeuserStadtarbeit">
	<f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_stadtarbeit" />
</label><br />
	<f:form.textfield property="txQualinetfeuserStadtarbeit" /><br />
<label for="txQualinetfeuserKontaktnr">
	<f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_kontaktnr" />
</label><br />
	<f:form.textfield property="txQualinetfeuserKontaktnr" /><br />
<label for="txQualinetfeuserEmail2">
	<f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_email2" />
</label><br />
	<f:form.textfield property="txQualinetfeuserEmail2" /><br />
<label for="txQualinetfeuserEmailarbeit">
	<f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_emailarbeit" />
</label><br />
	<f:form.textfield property="txQualinetfeuserEmailarbeit" /><br />
<label for="txQualinetfeuserBlsvmitarbeiter">
	<f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_blsvmitarbeiter" />
</label><br />
	<f:form.checkbox property="txQualinetfeuserBlsvmitarbeiter" value="1" /><br />
<label for="txQualinetfeuserFaxarbeit">
	<f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_faxarbeit" />
</label><br />
	<f:form.textfield property="txQualinetfeuserFaxarbeit" /><br />
<label for="txQualinetfeuserMobil">
	<f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_mobil" />
</label><br />
	<f:form.textfield property="txQualinetfeuserMobil" /><br />
<label for="txQualinetfeuserReferentennr">
	<f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_referentennr" />
</label><br />
	<f:form.textfield property="txQualinetfeuserReferentennr" /><br />
<label for="txQualinetfeuserPager">
	<f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_pager" />
</label><br />
	<f:form.textfield property="txQualinetfeuserPager" /><br />
<label for="txQualinetfeuserTelprivat">
	<f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_telprivat" />
</label><br />
	<f:form.textfield property="txQualinetfeuserTelprivat" /><br />
<label for="txQualinetfeuserTelarbeit">
	<f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_telarbeit" />
</label><br />
	<f:form.textfield property="txQualinetfeuserTelarbeit" /><br />
<label for="txQualinetfeuserPlzarbeit">
	<f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_plzarbeit" />
</label><br />
	<f:form.textfield property="txQualinetfeuserPlzarbeit" /><br />
<label for="txQualinetfeuserBeschreibung">
	<f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_beschreibung" />
</label><br />
	<f:form.textarea property="txQualinetfeuserBeschreibung" cols="40" rows="15" /><br />
<label for="txQualinetfeuserRefvertragversendet">
	<f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_refvertragversendet" />
</label><br />
	<f:form.checkbox property="txQualinetfeuserRefvertragversendet" value="1" /><br />
<label for="txQualinetfeuserBeschreibungkurz">
	<f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_beschreibungkurz" />
</label><br />
	<f:form.textfield property="txQualinetfeuserBeschreibungkurz" /><br />
<label for="txQualinetfeuserUmsatzsteuerid">
	<f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_umsatzsteuerid" />
</label><br />
	<f:form.textfield property="txQualinetfeuserUmsatzsteuerid" /><br />
<label for="txQualinetfeuserKreditorid">
	<f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_kreditorid" />
</label><br />
	<f:form.textfield property="txQualinetfeuserKreditorid" /><br />
<label for="txQualinetfeuserDurchwahl">
	<f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_durchwahl" />
</label><br />
	<f:form.textfield property="txQualinetfeuserDurchwahl" /><br />
<label for="txQualinetfeuserTeilnehmerid">
	<f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_teilnehmerid" />
</label><br />
	<f:form.textfield property="txQualinetfeuserTeilnehmerid" /><br />
<label for="txQualinetfeuserIban">
	<f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_iban" />
</label><br />
	<f:form.textfield property="txQualinetfeuserIban" /><br />
<label for="txQualinetfeuserSwift">
	<f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_swift" />
</label><br />
	<f:form.textfield property="txQualinetfeuserSwift" /><br />
<label for="txQualinetfeuserBlsvwerbung">
	<f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_blsvwerbung" />
</label><br />
	<f:form.checkbox property="txQualinetfeuserBlsvwerbung" value="1" /><br />
<label for="txQualinetfeuserEhrenamt">
	<f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_ehrenamt" />
</label><br />
	<f:form.checkbox property="txQualinetfeuserEhrenamt" value="1" /><br />
<label for="txQualinetfeuserHauptamt">
	<f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_hauptamt" />
</label><br />
	<f:form.checkbox property="txQualinetfeuserHauptamt" value="1" /><br />
<label for="txQualinetfeuserDatenschutz">
	<f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_datenschutz" />
</label><br />
	<f:form.checkbox property="txQualinetfeuserDatenschutz" value="1" /><br />
<label for="username">
	<f:translate key="tx_qualinetfeuser_domain_model_feuser.username" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="username" /><br />
<label for="gender">
	<f:translate key="tx_qualinetfeuser_domain_model_feuser.gender" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="gender" /><br />
<label for="firstName">
	<f:translate key="tx_qualinetfeuser_domain_model_feuser.first_name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="firstName" /><br />
<label for="lastName">
	<f:translate key="tx_qualinetfeuser_domain_model_feuser.last_name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="lastName" /><br />
<label for="dateOfBirth">
	<f:translate key="tx_qualinetfeuser_domain_model_feuser.date_of_birth" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="dateOfBirth"  value="{feuser.dateOfBirth->f:format.date()}" /><br />
<label for="email">
	<f:translate key="tx_qualinetfeuser_domain_model_feuser.email" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="email" /><br />
<label for="address">
	<f:translate key="tx_qualinetfeuser_domain_model_feuser.address" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="address" /><br />
<label for="city">
	<f:translate key="tx_qualinetfeuser_domain_model_feuser.city" />
</label><br />
	<f:form.textfield property="city" /><br />
<label for="zip">
	<f:translate key="tx_qualinetfeuser_domain_model_feuser.zip" />
</label><br />
	<f:form.textfield property="zip" /><br />
<label for="telephone">
	<f:translate key="tx_qualinetfeuser_domain_model_feuser.telephone" />
</label><br />
	<f:form.textfield property="telephone" /><br />
<label for="fax">
	<f:translate key="tx_qualinetfeuser_domain_model_feuser.fax" />
</label><br />
	<f:form.textfield property="fax" /><br />
<label for="title">
	<f:translate key="tx_qualinetfeuser_domain_model_feuser.title" />
</label><br />
	<f:form.textfield property="title" /><br />
<label for="country">
	<f:translate key="tx_qualinetfeuser_domain_model_feuser.country" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="country" /><br />