<h3><f:translate key="tx_qualinetfeuser_domain_model_feuser.titel_stammdaten_referent" /></h3>
<div class="fieldset">
	<label> <f:translate key="tx_qualinetfeuser_domain_model_feuser.username" /></label>
	<div class="field"><f:form.textfield property="username" additionalAttributes="{placeholder: '<f:translate key=\'tx_qualinetfeuser_domain_model_feuser.ph_username\' />'}" /></div>
	<div class="clearer"></div>
</div>

<div class="fieldset">
	<label> <f:translate key="tx_qualinetfeuser_domain_model_feuser.title" /></label>
	<div class="field"><f:form.select class="feuserTitle" property="title" options="{options.title}" /></div>
	<div class="clearer"></div>
</div>

<div class="fieldset">
	<label> <f:translate key="tx_qualinetfeuser_domain_model_feuser.first_name" /> <span class="req"> *</span></label>
	<div class="field"><f:form.textfield property="firstName"  additionalAttributes="{required:'1', placeholder: '<f:translate key=\'tx_qualinetfeuser_domain_model_feuser.ph_first_name\' />'}" /></div>
	<div class="clearer"></div>
</div>

<div class="fieldset">
	<label> <f:translate key="tx_qualinetfeuser_domain_model_feuser.last_name" /> <span class="req"> *</span></label>
	<div class="field"><f:form.textfield property="lastName" additionalAttributes="{required:'1', placeholder: '<f:translate key=\'tx_qualinetfeuser_domain_model_feuser.ph_last_name\' />'}" /></div>
	<div class="clearer"></div>
</div>

<div class="fieldset">
	<label> <f:translate key="tx_qualinetfeuser_domain_model_feuser.address" />
	<div class="field"><f:form.textfield property="address" additionalAttributes="{
		required:'1' 
		placeholder: '<f:translate key=\'tx_qualinetfeuser_domain_model_feuser.ph_address\' />'
	}" />
	</div>
	<div class="clearer"></div>
</div>

<div class="fieldset">
	<label> <f:translate key="tx_qualinetfeuser_domain_model_feuser.zip" /></label>
	<div class="field"><f:form.textfield property="zip" additionalAttributes="{placeholder: '<f:translate key=\'tx_qualinetfeuser_domain_model_feuser.ph_zip\' />'}" /></div>
	<div class="clearer"></div>
</div>

<div class="fieldset">
	<label> <f:translate key="tx_qualinetfeuser_domain_model_feuser.city" /></label>
	<div class="field"><f:form.textfield property="city" additionalAttributes="{placeholder: '<f:translate key=\'tx_qualinetfeuser_domain_model_feuser.ph_city\' />'}" /></div>
	<div class="clearer"></div>
</div>

<div class="fieldset">
	<label> <f:translate key="tx_qualinetfeuser_domain_model_feuser.country" /></label>
	<div class="field"><f:form.select class="feuserCountry" property="country" options="{options.country}" /></div>
	<div class="clearer"></div>
</div>

<div class="fieldset">
	<label> <f:translate key="tx_qualinetfeuser_domain_model_feuser.date_of_birth" /> <span class="req"> *</span></label>
	<div class="field"><f:form.textfield class="datepicker" property="dateOfBirth" value="<f:format.date format='d.m.Y'>{feuser.dateOfBirth}</f:format.date>" additionalAttributes="{required:'1', placeholder: '<f:translate key=\'tx_qualinetfeuser_domain_model_feuser.ph_date_of_birth\' />'}" /></div>
	<div class="clearer"></div>
</div>

<div class="fieldset">
	<label> <f:translate key="tx_qualinetfeuser_domain_model_feuser.gender" /></label>
	<div class="field"><f:form.select property="gender" options="{options.gender}" /></div>
	<div class="clearer"></div>
</div>

<div class="fieldset">
	<label> <f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_uebungsleiterid" /></label>
	<div class="field">BY-<f:form.textfield type="number" property="txQualinetfeuserUebungsleiterid" additionalAttributes="{min: 10000, max:79999, placeholder: '<f:translate key=\'tx_qualinetfeuser_domain_model_feuser.ph_tx_qualinetfeuser_uebungsleiterid\' />'}" /></div>
	<div class="clearer"></div>
</div>

<div class="fieldset">
	<label><f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_vereinsnummer" /></label>
	<div class="field">
		<f:form.textfield property="txQualinetfeuserVereinsnummer" additionalAttributes="{min: 10000, max:79999, placeholder: '<f:translate key=\'tx_qualinetfeuser_domain_model_feuser.ph_tx_qualinetfeuser_vereinsnummer\' />'}" />
		&nbsp;<f:translate key="tx_qualinetfeuser_domain_model_feuser.hinweis_tx_qualinetfeuser_vereinsnummer" />
	</div>
	<div class="clearer"></div>
</div>

<div class="fieldset">
	<label> <f:translate key="tx_qualinetfeuser_domain_model_feuser.company" /></label>
	<div classe="field"><f:if condition="{feuser.company}">{feuser.company}</f:if></div>
	<div class="clearer"></div>
</div>

<div class="fieldset">
	<label> <f:translate key="tx_qualinetfeuser_domain_model_feuser.ustidben" /></label>
	<div class="field"><f:form.checkbox property="ustidben" value="1" /></div>
	<div class="clearer"></div>
</div>

<div class="fieldset">
	<label> <f:translate key="tx_qualinetfeuser_domain_model_feuser.ustid" /></label>
	<div class="field"><f:form.textfield property="ustid" additionalAttributes="{placeholder: '<f:translate key=\'tx_qualinetfeuser_domain_model_feuser.ph_ustid\' />'}" /></div>
	<div class="clearer"></div>
</div>

<div class="fieldset">
	<label> <f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_ehrenamt" /></label>
	<div class="field"><f:form.checkbox property="txQualinetfeuserEhrenamt" value="1" /></div>
	<div class="clearer"></div>
</div>

<div class="fieldset">
	<label> <f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_hauptamt" /></label>
	<div class="field"><f:form.checkbox property="txQualinetfeuserHauptamt" value="1" /></div>
	<div class="clearer"></div>
</div>

<div class="fieldset">
	<label> <f:translate key="tx_qualinetfeuser_domain_model_feuser.passbild" /></label>
	
	<div class="field">
		<f:if condition="{feuser.passbild}">
			<div><f:image src="{feuser.passbildPfad}{feuser.passbild}" alt="Passbild" /></div>
		</f:if>
		<f:form.upload property="passbildUpload" />
	</div>
	<div class="clearer"></div>
</div>


<h3><f:translate key="tx_qualinetfeuser_domain_model_feuser.titel_kommunikation" /></h3>
<div class="fieldset">
	<label> <f:translate key="tx_qualinetfeuser_domain_model_feuser.telephone" /></label>
	<div class="field"><f:form.textfield property="telephone" additionalAttributes="{placeholder: '<f:translate key=\'tx_qualinetfeuser_domain_model_feuser.ph_telephone\' />'}" /></div>
	<div class="clearer"></div>
</div>

<div class="fieldset">
	<label> <f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_mobil" /></label>
	<div class="field"><f:form.textfield property="txQualinetfeuserMobil" additionalAttributes="{placeholder: '<f:translate key=\'tx_qualinetfeuser_domain_model_feuser.ph_tx_qualinetfeuser_mobil\' />'}" /></div>
	<div class="clearer"></div>
</div>

<div class="fieldset">
	<label> <f:translate key="tx_qualinetfeuser_domain_model_feuser.fax" /></label>
	<div class="field"><f:form.textfield property="fax" additionalAttributes="{placeholder: '<f:translate key=\'tx_qualinetfeuser_domain_model_feuser.ph_fax\' />'}" /></div>
	<div class="clearer"></div>
</div>

<div class="fieldset">
	<label> <f:translate key="tx_qualinetfeuser_domain_model_feuser.email" /> <span class="req"> *</span></label>
	<div class="field"><f:form.textfield property="email" additionalAttributes="{required:'1', placeholder: '<f:translate key=\'tx_qualinetfeuser_domain_model_feuser.ph_email\' />'}" /></div>
	<div class="clearer"></div>
</div>

<div class="fieldset">
	<label> <f:translate key="tx_qualinetfeuser_domain_model_feuser.www" /></label>
	<div class="field"><f:form.textfield property="www" additionalAttributes="{placeholder: '<f:translate key=\'tx_qualinetfeuser_domain_model_feuser.ph_www\' />'}" /></div>
	<div class="clearer"></div>
</div>

<div class="fieldset">
	<label> <f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_telarbeit" /></label>
	<div class="field"><f:form.textfield property="txQualinetfeuserTelarbeit" additionalAttributes="{placeholder: '<f:translate key=\'tx_qualinetfeuser_domain_model_feuser.ph_tx_qualinetfeuser_telarbeit\' />'}" /></div>
	<div class="clearer"></div>
</div>

<div class="fieldset">
	<label> <f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_faxarbeit" /></label>
	<div class="field"><f:form.textfield property="txQualinetfeuserFaxarbeit" additionalAttributes="{placeholder: '<f:translate key=\'tx_qualinetfeuser_domain_model_feuser.ph_tx_qualinetfeuser_faxarbeit\' />'}" /></div>
	<div class="clearer"></div>
</div>

<div class="fieldset">
	<label> <f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_emailarbeit" /></label>
	<div class="field"><f:form.textfield property="txQualinetfeuserEmailarbeit" additionalAttributes="{placeholder: '<f:translate key=\'tx_qualinetfeuser_domain_model_feuser.ph_tx_qualinetfeuser_emailarbeit\' />'}" /></div>
	<div class="clearer"></div>
</div>

<h3><f:translate key="tx_qualinetfeuser_domain_model_feuser.titel_bankverbindung" /></h3>
<div class="fieldset">
	<label> <f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_blz" /></label>
	<div class="field"><f:form.textfield property="txQualinetfeuserBlz" additionalAttributes="{placeholder: '<f:translate key=\'tx_qualinetfeuser_domain_model_feuser.ph_tx_qualinetfeuser_blz\' />'}" /></div>
	<div class="clearer"></div>
</div>

<div class="fieldset">
	<label> <f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_bankname" /></label>
	<div class="field"><f:form.textfield property="txQualinetfeuserBankname" additionalAttributes="{placeholder: '<f:translate key=\'tx_qualinetfeuser_domain_model_feuser.ph_tx_qualinetfeuser_bankname\' />'}" /></div>
	<div class="clearer"></div>
</div>

<div class="fieldset">
	<label> <f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_kontonr" /></label>
	<div class="field"><f:form.textfield property="txQualinetfeuserKontonr" additionalAttributes="{placeholder: '<f:translate key=\'tx_qualinetfeuser_domain_model_feuser.ph_tx_qualinetfeuser_kontonr\' />'}" /></div>
	<div class="clearer"></div>
</div>

<div class="fieldset">
	<label> <f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_iban" /></label>
	<div class="field"><f:form.textfield property="txQualinetfeuserIban" additionalAttributes="{placeholder: '<f:translate key=\'tx_qualinetfeuser_domain_model_feuser.ph_tx_qualinetfeuser_iban\' />'}" /></div>
	<div class="clearer"></div>
</div>

<div class="fieldset">
	<label> <f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_swift" /></label>
	<div class="field"><f:form.textfield property="txQualinetfeuserSwift" additionalAttributes="{placeholder: '<f:translate key=\'tx_qualinetfeuser_domain_model_feuser.ph_tx_qualinetfeuser_swift\' />'}" /></div>
	<div class="clearer"></div>
</div>

<h3><f:translate key="tx_qualinetfeuser_domain_model_feuser.titel_datenschutz" /></h3>
<div class="fieldset">
	<label>&nbsp;</label>
	<div class="field">
		<div class="datenschutz">
			<div class="datenschutzCheck"><f:form.checkbox property="txQualinetfeuserDatenschutz" value="1" additionalAttributes="{required:'1'}" /></div>
			<div class="datenschutzText">Die <a target="_blank" href="datenschutzbestimmungen.html">Datenschutzbestimmungen</a> habe ich zur Kenntnis genommen</div>
		</div>
	</div>
	<div class="clearer"></div>
</div>