<table class="tx-qualinet-feuser" >
	<tr>
		<td>
			<f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_vereinsnummer" />
		</td>
		<td>
			{feuser.txQualinetfeuserVereinsnummer}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_uebungsleiterid" />
		</td>
		<td>
			{feuser.txQualinetfeuserUebungsleiterid}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_kontonr" />
		</td>
		<td>
			{feuser.txQualinetfeuserKontonr}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_blz" />
		</td>
		<td>
			{feuser.txQualinetfeuserBlz}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_bankname" />
		</td>
		<td>
			{feuser.txQualinetfeuserBankname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_mailsvondritten" />
		</td>
		<td>
			{feuser.txQualinetfeuserMailsvondritten}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_bankeinzug" />
		</td>
		<td>
			{feuser.txQualinetfeuserBankeinzug}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_strasse" />
		</td>
		<td>
			{feuser.txQualinetfeuserStrasse}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_zusatz" />
		</td>
		<td>
			{feuser.txQualinetfeuserZusatz}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_strassearbeit" />
		</td>
		<td>
			{feuser.txQualinetfeuserStrassearbeit}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_gesperrt" />
		</td>
		<td>
			{feuser.txQualinetfeuserGesperrt}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_stadtarbeit" />
		</td>
		<td>
			{feuser.txQualinetfeuserStadtarbeit}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_kontaktnr" />
		</td>
		<td>
			{feuser.txQualinetfeuserKontaktnr}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_email2" />
		</td>
		<td>
			{feuser.txQualinetfeuserEmail2}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_emailarbeit" />
		</td>
		<td>
			{feuser.txQualinetfeuserEmailarbeit}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_blsvmitarbeiter" />
		</td>
		<td>
			{feuser.txQualinetfeuserBlsvmitarbeiter}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_faxarbeit" />
		</td>
		<td>
			{feuser.txQualinetfeuserFaxarbeit}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_mobil" />
		</td>
		<td>
			{feuser.txQualinetfeuserMobil}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_referentennr" />
		</td>
		<td>
			{feuser.txQualinetfeuserReferentennr}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_pager" />
		</td>
		<td>
			{feuser.txQualinetfeuserPager}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_telprivat" />
		</td>
		<td>
			{feuser.txQualinetfeuserTelprivat}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_telarbeit" />
		</td>
		<td>
			{feuser.txQualinetfeuserTelarbeit}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_plzarbeit" />
		</td>
		<td>
			{feuser.txQualinetfeuserPlzarbeit}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_beschreibung" />
		</td>
		<td>
			{feuser.txQualinetfeuserBeschreibung}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_refvertragversendet" />
		</td>
		<td>
			{feuser.txQualinetfeuserRefvertragversendet}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_beschreibungkurz" />
		</td>
		<td>
			{feuser.txQualinetfeuserBeschreibungkurz}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_umsatzsteuerid" />
		</td>
		<td>
			{feuser.txQualinetfeuserUmsatzsteuerid}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_kreditorid" />
		</td>
		<td>
			{feuser.txQualinetfeuserKreditorid}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_durchwahl" />
		</td>
		<td>
			{feuser.txQualinetfeuserDurchwahl}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_teilnehmerid" />
		</td>
		<td>
			{feuser.txQualinetfeuserTeilnehmerid}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_iban" />
		</td>
		<td>
			{feuser.txQualinetfeuserIban}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_swift" />
		</td>
		<td>
			{feuser.txQualinetfeuserSwift}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_blsvwerbung" />
		</td>
		<td>
			{feuser.txQualinetfeuserBlsvwerbung}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_ehrenamt" />
		</td>
		<td>
			{feuser.txQualinetfeuserEhrenamt}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_hauptamt" />
		</td>
		<td>
			{feuser.txQualinetfeuserHauptamt}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_datenschutz" />
		</td>
		<td>
			{feuser.txQualinetfeuserDatenschutz}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_qualinetfeuser_domain_model_feuser.username" />
		</td>
		<td>
			{feuser.username}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_qualinetfeuser_domain_model_feuser.gender" />
		</td>
		<td>
			{feuser.gender}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_qualinetfeuser_domain_model_feuser.first_name" />
		</td>
		<td>
			{feuser.firstName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_qualinetfeuser_domain_model_feuser.last_name" />
		</td>
		<td>
			{feuser.lastName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_qualinetfeuser_domain_model_feuser.date_of_birth" />
		</td>
		<td>
			{feuser.dateOfBirth -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_qualinetfeuser_domain_model_feuser.email" />
		</td>
		<td>
			{feuser.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_qualinetfeuser_domain_model_feuser.address" />
		</td>
		<td>
			{feuser.address}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_qualinetfeuser_domain_model_feuser.city" />
		</td>
		<td>
			{feuser.city}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_qualinetfeuser_domain_model_feuser.zip" />
		</td>
		<td>
			{feuser.zip}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_qualinetfeuser_domain_model_feuser.telephone" />
		</td>
		<td>
			{feuser.telephone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_qualinetfeuser_domain_model_feuser.fax" />
		</td>
		<td>
			{feuser.fax}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_qualinetfeuser_domain_model_feuser.title" />
		</td>
		<td>
			{feuser.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_qualinetfeuser_domain_model_feuser.country" />
		</td>
		<td>
			{feuser.country}
		</td>
	</tr>
</table>