<f:layout name="Default" />

This template displays a EDIT form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Edit.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

<script type="text/javascript">
	$(function(){
		$(".datepicker").datepicker();
	});
</script>



<f:flashMessages class="flashMessages" />
<f:render partial="FormErrors" arguments="{object:Feuser}"/>

<div class="tx-keuserregister-pi1">
	<f:form enctype="multipart/form-data" method="post" action="update" id="feuser" name="feuser" object="{feuser}" >
	
		<f:if condition="{feuser.txQualinetfeuserReferentennr}">
			<f:then>
				<f:render partial="Feuser/FormFieldsReferent" arguments="{feuser:feuser, options:options}" />
				<div class="fieldset"><f:form.submit value="Stammdaten speichern" /></div>
			</f:then>
			<f:else>
				<f:render partial="Feuser/FormFieldsStammdaten" arguments="{feuser:feuser, options:options}" />
				<div class="fieldset"><f:form.submit value="Stammdaten speichern" /></div>
			</f:else>
		</f:if>

	</f:form>
</div>

<script>
jQuery( document ).ready(function( $ ) {
	$('#feuserTxQualinetfeuserVereinsnummer').keyup(function(){
		checkVereinsnummer();
	});
	var fehlerMeldung = '<span class="color_red">keine gültige Vereinsnummer</span>';
	checkVereinsnummer = function (){
		if($('#feuserTxQualinetfeuserVereinsnummer').val().length ==0 ){
		      $('#vereinsname').html( '' );
		}
		else {
		
			if( $('#feuserTxQualinetfeuserVereinsnummer').val().length > 4 ){
			   url='vereinssuche.html?tx_blsvbestammdaten_vereinsnamen[vereinsnummer]=' +  $('#feuserTxQualinetfeuserVereinsnummer').val();
			   var jqxhr = $.ajax(  url  )
			     var jqxhr = $.ajax(  url  )
			     .done( function( data ) {
			       if (!data) {
			    	   $('#vereinsname').html( fehlerMeldung );		       
			       }
			       else{
			    	   $('#vereinsname').html( data );
			       }		      
			     });  
			   }
			  else {
			     $('#vereinsname').html( fehlerMeldung );
			 }
		}
	}
	
	checkEmail = function (){
		if( $('#email').val() != $('#emailwiederholung').val()  ){
			return false;     	
		}
		else{
			return true;			
		}
		
	}
	

	checkMitglied = function () {
	    var mitglied = document.getElementsByName("tx_qualinetfeuser_pi1[mitglied]");
	    var mitgliedValid = false;
	    var i = 0;
	    while (!mitgliedValid && i < mitglied.length) {
	        if (mitglied[i].checked) mitgliedValid = true;
	        i++;        
	    }
	    return mitgliedValid;
	}
	
	$('#mitglied').click(function() {
		$('#feuserTxQualinetfeuserVereinsnummer').prop('required', true );
	});
	
	$('#nichtmitglied').click(function() {
		$('#feuserTxQualinetfeuserVereinsnummer').prop('required', false );
	});
	
	
	$( "#feuser" ).submit(function( event ) {		
		  if (  $('#vereinsname').html() == fehlerMeldung  ) {
		  	alert( "Bitte geben Sie eine gültige Vereinsnummer ein oder lassen Sie das Feld leer." );
		  	event.preventDefault();
			$( "#feuserTxQualinetfeuserVereinsnummer" ).focus();
		  }
		  
		  if ( !checkEmail()  ) {
			  	alert( "Sie haben unterschiedliche E-Mailadressen angegeben. Bitte überprüfen Sie Ihre Eingabe." );
			  	event.preventDefault();
				$( "#emailwiederholung" ).focus();
			  }
		  
		  if ( !checkMitglied()  ) {
			  	alert( "Sie müssen angeben, ob Sie Mitglied sind oder nicht. Bitte überprüfen Sie Ihre Eingabe." );
			  	event.preventDefault();
			  	$( "#mitglied" ).focus();
			  } 
		});
	
	checkVereinsnummer();
	$('#emailwiederholung').val( $('#email').val() );	
	
	if ( $('#feuserTxQualinetfeuserVereinsnummer').val() ) {
		 $('#mitglied').attr('checked',1);
		 $('#feuserTxQualinetfeuserVereinsnummer').prop('required', true);
	}
	else{
		 $('#nichtmitglied').attr('checked',1);
	}
	
});
</script>


</f:section>