<f:layout name="Default" />

This template displays a EDIT form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Edit.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

<script type="text/javascript">
	$(function(){
		$(".datepicker").datepicker();
	});
</script>

<h3><f:translate key="tx_qualinetfeuser_domain_model_feuser.titel_stammdaten" /></h3>

<f:flashMessages class="flashMessages" />
<f:render partial="FormErrors" arguments="{object:Feuser}"/>

<div class="tx-keuserregister-pi1">
	<f:form enctype="multipart/form-data" method="post" action="update" name="feuser" object="{feuser}" >
	
		<f:if condition="{feuser.txQualinetfeuserReferentennr}">
			<f:then>
				<f:render partial="Feuser/FormFieldsReferent" arguments="{feuser:feuser, options:options}" />
				<div class="fieldset"><f:form.submit value="Referentendaten speichern" /></div>
			</f:then>
			<f:else>
				<f:render partial="Feuser/FormFieldsStammdaten" arguments="{feuser:feuser, options:options}" />
				<div class="fieldset"><f:form.submit value="Stammdaten speichern" /></div>
			</f:else>
		</f:if>

	</f:form>
</div>


</f:section>