<f:layout name="Default" />

This template displays a EDIT form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Edit.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

<script type="text/javascript">
	$(function(){
		$(".datepicker").datepicker();
	});
</script>

<h3><f:translate key="tx_qualinetfeuser_domain_model_feuser.titel_stammdaten" /></h3>

<f:flashMessages />
<div class="error"><f:render partial="FormErrors" arguments="{object:Feuser}"/></div>

<div class="tx-keuserregister-pi1">
	<f:form enctype="multipart/form-data" method="post" action="update" name="feuser" object="{feuser}" >


<f:comment>
		<div class="fieldset">
			<label> <f:translate key="tx_qualinetfeuser_domain_model_feuser.tx_qualinetfeuser_referentennr" /></label>
			<div class="field"><f:form.textfield property="txQualinetfeuserReferentennr" /></div>
			<div class="clearer"></div>
		</div>
</f:comment>

	
		<f:if condition="{feuser.txQualinetfeuserReferentennr}">
			<f:then><f:render partial="Feuser/FormFieldsReferent" arguments="{feuser:feuser}" /></f:then>
			<f:else><f:render partial="Feuser/FormFieldsStammdaten" arguments="{feuser:feuser}" /></f:else>
		</f:if>

		<f:form.submit value="Daten absenden" />
	</f:form>
</div>


</f:section>